<div class="page-wrapper-row full-height m-t-30">
  <div class="page-wrapper-middle">
    <div class="page-container">
      <div class="page-content-wrapper">
        <div class="container">
          <button class="btn btn-default" (click)="goBack()">
            <i class="fa fa-arrow-circle-left"></i> Back
          </button>

          <div class="text-center" *ngIf="loading">
            <div class="lds-facebook">
              <div></div>
              <div></div>
              <div></div>
            </div>
          </div>
          <div *ngIf="!loading">
            <div class="row m-t-15 p-b-40" *ngFor="let product of productsList">
              <div class="col-md-6">
                <img [src]="product.img" alt="" class="img-thumbnail img-responsive width-full">
              </div>
              <div class="col-md-6">
                <div>
                  <h1>{{product.name}}</h1>
                  <p>{{product.brand}}</p>
                  <hr>

                  <p>
                    <a class="btn blue">Add Favourite</a>
                    <a class="btn green">Add to Cart</a>
                  </p>
                  <div class="m-t-20">
                    {{product.description}}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h2>User Reviews</h2>
          <hr/>
          <div class="row">

            <div class="col-md-6 height-500 overflow-auto">

              <div class="lds-facebook" *ngIf="reviewLoading">
                <div></div>
                <div></div>
                <div></div>
              </div>

              <div *ngIf="!reviewLoading">
                <div *ngIf="reviews?.length > 0; else noReviews ">

                </div>
                <div class="media mt-5" *ngFor="let key of reviews">
                  <div class="media-body">
                    <h4>
                      <b>{{key.name}}</b>
                    </h4>
                    <div class="review-rating">
                      <i *ngFor="let item of arrayOne(key.rating);" class="fas fa-star"></i>
                    </div>
                    <p class="mt-2">{{key.review}}</p>
                  </div>
                  <hr/>
                </div>

                <ng-template #noReviews>
                  <h5>No reviews yet for the product.</h5>
                </ng-template>
              </div>

            </div>
            <div class="col-md-6">
              <h3 class="m-t-0">Write Review</h3>
              <div class="form-horizontal">
                <form novalidate [formGroup]="reviewForm" (ngSubmit)="onSubmit(reviewForm)" class="form">
                  <div class="form-group">
                    <div class="col-md-12">
                      <input type="text" class="form-control todo-taskbody-tasktitle" placeholder="Name" name="name" formControlName="name"> </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-12">
                      <select class="form-control" name="rating" formControlName="rating">
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                        <option value="4">Four</option>
                        <option value="5">Five</option>
                      </select>

                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-md-12">
                      <textarea class="form-control todo-taskbody-taskdesc" rows="8" placeholder="Review..." name="review" formControlName="review"></textarea>
                    </div>
                  </div>
                  <div class="form-actions right todo-form-actions">
                    <button class="btn btn-circle btn-sm green" [disabled]="reviewForm.invalid">Save Changes</button>
                    <button class="btn btn-circle btn-sm btn-default" (click)="resetForm()">Reset</button>
                  </div>
                </form>

              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
