<app-header>
</app-header>
<div class="page-wrapper-row full-height">
  <div class="page-wrapper-middle">
    <div class="page-container">
      <div class="page-content-wrapper">
        <div class="page-head">
          <div class="container">
            <div class="page-title">
              <h1 class="m-t-5">Admin - Products</h1>
            </div>
            <div class="page-title pull-right">
              <button class=" btn btn-success">Add Product</button>
            </div>
          </div>
        </div>
        <div class="page-content m-t-0">
          <div class="container">
            <div class="page-content-inner">
              <div class="row">
                <div class="col-md-12">
                  <div class="portlet box green">
                    <div class="portlet-title">
                      <div class="caption">
                        Products </div>
                      <div class="action pull-right m-t-3">
                        <select class="form-control">
                          <option value="">Newest</option>
                          <option value="">A to Z</option>
                          <option value="">Z to A</option>
                        </select>
                      </div>
                    </div>

                    <div class="portlet-body flip-scroll">
                      <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                          <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Images</th>
                            <th>Description</th>
                            <th width="130">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let product of productsList;  let i = index">
                            <td>{{i+1}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.brand}}</td>
                            <td>{{product.img}} </td>
                            <td>{{product.description}} </td>
                            <td>
                              <button class="btn btn-primary btn-xs">Edit</button>
                              <button class="btn btn-danger btn-xs" (click)="deleteProduct(product)">Delete</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container">


  <div class="form-horizontal">
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <label class="control-label col-md-4">Key</label>
          <div class="col-md-8">
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label col-md-4">Name</label>
          <div class="col-md-8">
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
   
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label col-md-4">Brand</label>
          <div class="col-md-8">
           <select class="form-control">
             <option value="">iPhone</option>
             <option value="">Samsung</option>
             <option value="">MI</option>
             <option value="">Micromax</option>
             <option value="">LG</option>
           </select>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label col-md-4">Featured</label>
          <div class="col-md-8">
            <div class="m-t-10">
              <input type="checkbox">
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="col-md-12 control-label text-left">Images</label>
          <div class="col-md-12">

            <input type="file" name="" id="">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="col-md-12 control-label text-left">Description</label>
          <div class="col-md-12">
            <textarea class="form-control" cols="30" rows="10"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer></app-footer>
