<app-header>
</app-header>
<div class="page-wrapper-row full-height">
  <div class="page-wrapper-middle">
    <div class="page-container">
      <div class="page-content-wrapper">
        <div class="page-head">
          <div class="container">
            <div class="page-title">
              <h1 class="m-t-5">Admin - Products</h1>
            </div>
            <div class="page-title pull-right">
              <button class=" btn btn-success">Add Product</button>
            </div>
          </div>
        </div>
        <div class="page-content m-t-0">
          <div class="container">
            <div class="page-content-inner">
              <div class="row">
                <div class="col-md-12">
                  <div class="portlet box green">
                    <div class="portlet-title">
                      <div class="caption">
                        Products </div>
                        <div class="action pull-right m-t-3" >
                          <select class="form-control">
                            <option value="">Newest</option>
                            <option value="">A to Z</option>
                            <option value="">Z to A</option>
                          </select>
                        </div>
                    </div>

                    <div class="portlet-body flip-scroll">
                      <table class="table table-bordered table-striped table-condensed flip-content">
                        <thead class="flip-content">
                          <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Brand</th>
                            <th>Images</th>
                            <th>Description</th>
                            <th width="130">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let product of productsList;  let i = index">
                            <td>{{i+1}}</td>
                            <td>{{product.name}}</td>
                            <td>{{product.brand}}</td>
                            <td>{{product.img}} </td>
                            <td>{{product.description}} </td>
                            <td>
                              <button class="btn btn-primary btn-xs">Edit</button>
                              <button class="btn btn-danger btn-xs" (click)="deleteProduct(product)">Delete</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<app-footer></app-footer>
