
body {
  background: #f4f4f4;
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
  margin-top:20px;
  overflow: hidden;
}

.slick-dots {
  display: none !important;
}

.slick-dots li {
  margin: 0;
}

.slick-dots li button:before {
  font-size: 16px;
}

.slick-dots li.slick-active button:before {
  color: #e8cc0e;
}

.slick-dots {
  position: absolute;
  bottom: -45px;
}


.main-banner-static.slick-dotted.slick-slider {
  margin-bottom: 100px;
}

.slick-slide img {
  width: 100%;
  max-width: 100%;
}
.slick-prev,
.slick-next {
  font-size: 75px;
}

.slick-next {right: 30px}
.slick-prev {left: 30px; z-index: 1;}