<div class="page-wrapper-row">
  <div class="page-wrapper-top">
    <!-- BEGIN HEADER -->
    <div class="page-header">
      <!-- BEGIN HEADER TOP -->
      <div class="page-header-top">
        <div class="container">
          <!-- BEGIN LOGO -->
          <div class="page-logo">
            <h1>FireApp</h1>
          </div>
          <!-- END LOGO -->
          <!-- BEGIN RESPONSIVE MENU TOGGLER -->
          <a href="javascript:;" class="menu-toggler"></a>

          <div class="top-menu">
            <ul class="nav navbar-nav pull-right">
              <li class="dropdown dropdown-user dropdown-dark open">
                <a href="javascript:;" class="dropdown-toggle" (click)="isCollapsed = !isCollapsed">
                  <span class="username username-hide-mobile">{{loggedinUser}} </span>
                  <img alt="" class="img-circle" src="../../../../assets/admin/img/avatar9.jpg">
                </a>
                <ul class="dropdown-menu dropdown-menu-default" [collapse]="isCollapsed">
                  <li>
                    <a (click)="logout()">
                      <i class="icon-key"></i> Log Out </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <!-- END HEADER TOP -->
      <!-- BEGIN HEADER MENU -->
      <div class="page-header-menu">
        <div class="container">

          <div class="hor-menu  ">
            <ul class="nav navbar-nav">
              <li class="menu-dropdown classic-menu-dropdown" *ngFor="let navItem of navItemList">
                <a [routerLink]="navItem.routerLink"> {{navItem.label}}
                  <span class="arrow"></span>
                </a>
              </li>
            </ul>
          </div>
          <!-- END MEGA MENU -->
        </div>
      </div>
      <!-- END HEADER MENU -->
    </div>
    <!-- END HEADER -->
  </div>
</div>
