<div class="login">
  <div class="content">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="text-center">FireApp</h1>

        <h2 class="h1"><i>Welcome, Please choose a option </i>

        </h2>
        <hr>
        <br/>
        
        <div class="row ">
          <div class="col-sm-6">
            <a class="btn green uppercase  btn-lg btn-block" routerLink="/admin-login">Admin Login</a>
          </div>
          <div class="col-sm-6">
            <a class="btn btn blue uppercase  btn-lg btn-block" routerLink='/home'>Front Home </a>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>
