
<flash-messages></flash-messages>
<div class="page-wrapper-row full-height m-t-30">
  <div class="page-wrapper-middle">
    <div class="page-container">
      <div class="page-content-wrapper">
        <div class="container">

          <a class="btn btn-default" routerLink='/product-list'>
            <i class="fa fa-arrow-circle-left"></i> Back
          </a>
          <form #productAddForm="ngForm" (ngSubmit)="onSubmit(productAddForm)">
            <div class="portlet box green m-t-15">
              <div class="portlet-title">
                <div class="caption">
                  Add Product </div>
              </div>

              <div class="portlet-body form">
                <div class="p-t-20 p-b-20">
                  <p class="alert alert-info">
                    <i class="fa fa-info-circle"></i> All fields are required.</p>
                  <div class="row">
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="control-label col-md-12">Slung</label>
                        <div class="col-md-12">
                          <input type="text" class="form-control" #slung="ngModel" [(ngModel)]="product.slung" name="slung" [ngClass]="{'has-danger': slung.invalid && (slung.dirty || slung.touched), 'has-success': slung.valid && (slung.dirty || slung.touched)}"
                            required>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="control-label col-md-12">Name</label>
                        <div class="col-md-12">
                          <input type="text" class="form-control" #name="ngModel" [(ngModel)]="product.name" name="name" [ngClass]="{'has-danger': name.invalid && (name.dirty || name.touched), 'has-success': name.valid && (name.dirty || name.touched)}"
                            required>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="control-label col-md-12">Brand</label>
                        <div class="col-md-12">
                          <select class="form-control" #brand="ngModel" [(ngModel)]="product.brand" name="brand" [ngClass]="{'has-danger': brand.invalid && (brand.dirty || brand.touched), 'has-success': brand.valid && (brand.dirty || brand.touched)}"
                            required>
                            <option *ngFor="let brand of brands; let i = index" [attr.value]="brand.name" [attr.selected]="i == 0 ? true : null">{{brand.name}}</option>

                          </select>


                        </div>
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="form-group">
                        <label class="control-label col-md-12">Featured
                          <i>(optional)</i>
                        </label>
                        <div class="col-md-12">
                          <div class="m-t-10">
                            <input type="checkbox" #featured="ngModel" [(ngModel)]="product.featured" name="featured" [ngClass]="{'has-danger': featured.invalid && (featured.dirty || featured.touched), 'has-success': featured.valid && (featured.dirty || featured.touched)}">
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row m-t-10">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-md-12 control-label text-left">Images</label>
                        <div class="col-md-12">
                          <input type="file" (change)="uploadFile($event)" class="form-control">
                          <br/>
                          <div class="progress">
                            <div class="progress-bar progress-bar-success" [style.width.%]="uploadPercent | async">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="col-md-12 control-label text-left">Images Url</label>
                        <div class="col-md-12">
                          <div style="font-size:10px">{{downloadURL | async}}</div>
                          <input type="text" class="form-control" #img="ngModel" [(ngModel)]="product.img" name="img"> 
                          <!-- <img [src]="downloadURL | async" alt="" width="80"> -->

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row m-t-10">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="col-md-12 control-label text-left">Description</label>
                        <div class="col-md-12">
                          <textarea class="form-control" cols="30" rows="10" #description="ngModel" [(ngModel)]="product.description" name="description"
                            [ngClass]="{'has-danger': description.invalid && (description.dirty || description.touched), 'has-success': description.valid && (description.dirty || description.touched)}"
                            required></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-actions">
                  <div class="row m-t-10">
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-circle green" [disabled]="!productAddForm.valid" type="submit">Submit</button>
                      <button type="button" class="btn btn-circle grey-salsa btn-outline" routerLink='/product-list'>Cancel</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
