<div class="user-login-5">
    <div class="row bs-reset">
        <div class="col-md-6 bs-reset mt-login-5-bsfix" style="background-image:url('../assets/admin/img/bg2.jpg')">
            <div class="login-bg">
                FIREAPP </div>
        </div>
        <div class="col-md-6 login-container bs-reset mt-login-5-bsfix">
            <div class="login-content">
                <h1>FireApp Admin Login</h1>
                <p> Lorem ipsum dolor sit amet, coectetuer adipiscing elit sed diam nonummy et nibh euismod aliquam erat volutpat.
                    Lorem ipsum dolor sit amet, coectetuer adipiscing. </p>
                <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" novalidate class="login-form">
                    <div *ngIf="error" class="alert alert-danger">
                        {{error}}
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <input [ngClass]="{'has-danger': email.invalid && (email.dirty || email.touched), 'has-success': email.valid && (email.dirty || email.touched)}"
                                class="form-control" #email="ngModel" type="email" [(ngModel)]="user.email" placeholder="Email"
                                name="email" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" email required/>
                            <div *ngIf="email.errors && (email.dirty || email.touched)">
                                <div class="red" *ngIf="email.errors.required">
                                    Email is required
                                </div>
                                <div class="red" *ngIf="email.errors.pattern">
                                    Please enter valid email.
                                </div>
                            </div>

                        </div>
                        <div class="col-xs-6">
                            <input class="form-control" minlength="6" [ngClass]="{'has-danger': password.invalid && (password.dirty || password.touched), 'has-success': password.valid && (password.dirty || password.touched)}"
                                #password="ngModel" [(ngModel)]="user.password" type="password" placeholder="Password" name="password"
                                required/>
                                <div *ngIf="password.errors && (password.dirty || password.touched)">
                                    <div class="red" *ngIf="password.errors.required">
                                        Password is required
                                    </div>
                                    <div class="red" *ngIf="password.errors.minlength">
                                        Password should be at least 6 characters!
                                    </div>
                                    
                                </div>
                        </div>

                    </div>
                    <div class="row">
                        <!-- <div class="col-sm-4">
                          <div class="rem-password">
                              <label class="rememberme mt-checkbox mt-checkbox-outline">
                                  <input type="checkbox" name="remember" value="1" /> Remember me
                                  <span></span>
                              </label>
                          </div>
                      </div> -->
                        <div class="col-sm-12 text-right">
                            <!-- <div class="forgot-password">
                              <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
                          </div> -->
                            <button class="btn btn-success" [disabled]="!loginForm.valid" type="submit">Sign In</button>
                        </div>
                    </div>
                </form>

            </div>
            <div class="login-footer">
                <div class="row bs-reset">
                    <div class="col-xs-5 bs-reset">
                        <ul class="login-social">
                            <li>
                                <a href="javascript:;">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fab fa-twitter-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <i class="fab fa-dribbble-square"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xs-7 bs-reset">
                        <div class="login-copyright text-right">
                            <p>Copyright &copy; FireApp 2018</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>