<div class="page-wrapper-row">
    <div class="page-wrapper-top">
        <div class="page-header">
            <div class="page-header-menu">
                <div class="container">
                    <div class="hor-menu ">
                        <h1 class="logo">Fire<span>App</span></h1>
                        <ul class="nav navbar-nav">
                            <li routerLinkActive='active' class="menu-dropdown classic-menu-dropdown" *ngFor="let navItem of navItemList">
                                <a [routerLink]="navItem.routerLink">{{navItem.label}}
                                    <span class="arrow"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
